.advantages-card {
  text-align: center;
  margin-bottom: 30px;

  &::before {
    @include pseudo-element(95px, 95px);
    background: url("../../icons/advantage-1-icon.svg");
    background-size: contain;
    margin: 0 auto 31px;
  }

  @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    text-align: start;
    margin-bottom: 0;

    &:not(:last-child) {
      padding-bottom: 37px;
      margin-bottom: 43px;
      border-bottom: 1px solid $color-light-10;
    }

    &::before {
      margin: 0;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding-left: 45px;
    padding-right: 45px;

    &:not(:last-child) {
      border-right: 1px solid $color-light-10;
    }

    &::before {
      margin-bottom: 34px;
    }
  }
}

.advantages-card__title {
  @include font(30px, 30px, inherit, 700);
  text-transform: uppercase;
  margin-bottom: 12px;

  @media (min-width: $desktop) {
    margin-bottom: 16px;
  }
}

.advantages-card__description {
  margin: 0;
}
