.social__title {
  @include font(inherit, 23px, inherit);
  margin-bottom: 13px;

  @media (max-width: ($desktop - 1px)) {
    display: none;
  }
}

.social__list {
  @include list;
  display: flex;
}

.social__link {
  padding: 33px 36px;
  display: block;

  &::after {
    @include pseudo-element(36px, 36px);
    @include background;
  }

  &--vkontakte::after {
    background-image: url("../../icons/stack.svg#logo-vk");
  }

  &--youtube::after {
    background-image: url("../../icons/stack.svg#logo-youtube");
  }

  &--telegram::after {
    background-image: url("../../icons/stack.svg#logo-telegram");
  }
}
